<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747028582468-lf9rvugdrsefdkhfj9q8tn8lmqrh68el.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747028582468-lf9rvugdrsefdkhfj9q8tn8lmqrh68el</string>
	<key>API_KEY</key>
	<string>AIzaSyBoJ3LTf_Y4aMN5bXrd8Ur3lYUq_3BIBsw</string>
	<key>GCM_SENDER_ID</key>
	<string>747028582468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chi.cleanArchitectureApp</string>
	<key>PROJECT_ID</key>
	<string>pdpchiapp</string>
	<key>STORAGE_BUCKET</key>
	<string>pdpchiapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747028582468:ios:e8907a2162f5d05643ec11</string>
</dict>
</plist>